<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <configSections>
    <!-- For more information on Entity Framework configuration, visit http://go.microsoft.com/fwlink/?LinkID=237468 -->
    <section name="entityFramework" type="System.Data.Entity.Internal.ConfigFile.EntityFrameworkSection, EntityFramework, Version=6.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false" />
    <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
      <section name="CapaDatos.ConfigBD" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
    </sectionGroup>
  </configSections>
  <entityFramework>
    <defaultConnectionFactory type="System.Data.Entity.Infrastructure.LocalDbConnectionFactory, EntityFramework">
      <parameters>
        <parameter value="mssqllocaldb" />
      </parameters>
    </defaultConnectionFactory>
    <providers>
      <provider invariantName="System.Data.SqlClient" type="System.Data.Entity.SqlServer.SqlProviderServices, EntityFramework.SqlServer" />
      <provider invariantName="System.Data.SQLite.EF6" type="System.Data.SQLite.EF6.SQLiteProviderServices, System.Data.SQLite.EF6" />
    </providers>
  </entityFramework>
  
<startup><supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.6.1" /></startup><system.data>
    <DbProviderFactories>
      <remove invariant="System.Data.SQLite.EF6" />
      <add name="SQLite Data Provider (Entity Framework 6)" invariant="System.Data.SQLite.EF6" description=".NET Framework Data Provider for SQLite (Entity Framework 6)" type="System.Data.SQLite.EF6.SQLiteProviderFactory, System.Data.SQLite.EF6" />
    <remove invariant="System.Data.SQLite" /><add name="SQLite Data Provider" invariant="System.Data.SQLite" description=".NET Framework Data Provider for SQLite" type="System.Data.SQLite.SQLiteFactory, System.Data.SQLite" /></DbProviderFactories>
  </system.data><userSettings>
    <CapaDatos.ConfigBD>
      <setting name="ConnectionDefault" serializeAs="String">
        <value>Data Source=E:\Juan Diego\Google Drive\Proyectos\SYSConfac\Base de datos\SYSConfacBDPrueba.db</value>
      </setting>
      <setting name="MotorBD" serializeAs="String">
        <value>SQLITE</value>
      </setting>
      <setting name="TipoBackup" serializeAs="String">
        <value>MANUAL</value>
      </setting>
      <setting name="Frecuencia" serializeAs="String">
        <value>0</value>
      </setting>
      <setting name="RutaDestinoBackup" serializeAs="String">
        <value>E:\JUAN DIEGO\Google Drive\Proyectos\SYSConfac\Base de datos\Backups</value>
      </setting>
      <setting name="ConnectionsStrings" serializeAs="Xml">
        <value>
          <ArrayOfString xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
            xmlns:xsd="http://www.w3.org/2001/XMLSchema">
            <string>Data Source=D:\Juan Diego\Google Drive\Proyectos\SYSConfac\Base de datos\SISAguaBD.db</string>
            <string>Data Source=E:\Juan Diego\Google Drive\Proyectos\SYSConfac\Base de datos\SISAguaBD.db</string>
          </ArrayOfString>
        </value>
      </setting>
      <setting name="FileNameConnection" serializeAs="String">
        <value>E:\JUAN DIEGO\Google Drive\Proyectos\SYSConfac\Base de datos\SISAguaBD.db</value>
      </setting>
    </CapaDatos.ConfigBD>
  </userSettings>
</configuration>
