<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <configSections>
    <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
      <section name="CapaPresentacionAdministracion.Formularios.FormsConfiguraciones.FormsConfiguraciones.ConfigTarifas" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
      <section name="CapaPresentacionAdministracion.Formularios.FormsConfiguraciones.ConfigEmail" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
      <section name="CapaPresentacionAdministracion.Formularios.FormsConfiguraciones.FormsConfiguraciones.ConfigFacturas" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
      <section name="CapaPresentacionAdministracion.Formularios.FormsConfiguraciones.FormsConfiguraciones.ConfigGeneral" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
      <section name="CapaPresentacionAdministracion.Formularios.FormsConfiguraciones.FormsLicencias.ConfigLicencias" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
    </sectionGroup>
  </configSections>
  <runtime>
    <assemblyBinding xmlns="urn:schemas-microsoft-com:asm.v1">
      <dependentAssembly>
        <assemblyIdentity name="Microsoft.ReportViewer.Common" publicKeyToken="89845dcd8080cc91" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-15.0.0.0" newVersion="15.0.0.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="Microsoft.ReportViewer.ProcessingObjectModel" publicKeyToken="89845dcd8080cc91" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-11.0.0.0" newVersion="11.0.0.0" />
      </dependentAssembly>
    </assemblyBinding>
  </runtime>
  <userSettings>
    <CapaPresentacionAdministracion.Formularios.FormsConfiguraciones.FormsConfiguraciones.ConfigTarifas>
      <setting name="Id_tarifa_lectura" serializeAs="String">
        <value>0</value>
      </setting>
      <setting name="Id_tarifa_sesion" serializeAs="String">
        <value>0</value>
      </setting>
      <setting name="Id_tarifa_manual" serializeAs="String">
        <value>0</value>
      </setting>
    </CapaPresentacionAdministracion.Formularios.FormsConfiguraciones.FormsConfiguraciones.ConfigTarifas>
    <CapaPresentacionAdministracion.Formularios.FormsConfiguraciones.ConfigEmail>
      <setting name="Email_errores" serializeAs="String">
        <value>solucionesinformaticas9708@gmail.com</value>
      </setting>
      <setting name="Password_email_errores" serializeAs="String">
        <value>soluciones2020</value>
      </setting>
      <setting name="Email_recepcion_errores" serializeAs="String">
        <value>jdiego9708@gmail.com</value>
      </setting>
      <setting name="Server_smtp_errores" serializeAs="String">
        <value>smtp.gmail.com</value>
      </setting>
      <setting name="Port_server_errores" serializeAs="String">
        <value>587</value>
      </setting>
      <setting name="Email_reportes" serializeAs="String">
        <value>solucionesinformaticas9708@gmail.com</value>
      </setting>
      <setting name="Password_email_reportes" serializeAs="String">
        <value>soluciones2020</value>
      </setting>
      <setting name="Email_recepcion_reportes" serializeAs="String">
        <value>jdiego9708@gmail.com</value>
      </setting>
      <setting name="Server_smtp_reportes" serializeAs="String">
        <value>smtp.gmail.com</value>
      </setting>
      <setting name="Port_server_reportes" serializeAs="String">
        <value>587</value>
      </setting>
    </CapaPresentacionAdministracion.Formularios.FormsConfiguraciones.ConfigEmail>
    <CapaPresentacionAdministracion.Formularios.FormsConfiguraciones.FormsConfiguraciones.ConfigFacturas>
      <setting name="Titulo_reporte" serializeAs="String">
        <value />
      </setting>
      <setting name="Medida_default" serializeAs="String">
        <value />
      </setting>
      <setting name="Ancho" serializeAs="String">
        <value>0</value>
      </setting>
      <setting name="Alto" serializeAs="String">
        <value>0</value>
      </setting>
      <setting name="MargenAbajo" serializeAs="String">
        <value>0</value>
      </setting>
      <setting name="MargenArriba" serializeAs="String">
        <value>0</value>
      </setting>
      <setting name="MargenDerecha" serializeAs="String">
        <value>0</value>
      </setting>
      <setting name="MargenIzquierda" serializeAs="String">
        <value>0</value>
      </setting>
    </CapaPresentacionAdministracion.Formularios.FormsConfiguraciones.FormsConfiguraciones.ConfigFacturas>
    <CapaPresentacionAdministracion.Formularios.FormsConfiguraciones.FormsConfiguraciones.ConfigGeneral>
      <setting name="Nombre_empresa" serializeAs="String">
        <value>JUNTA ADMINISTRADORA DE AGUA DE LA PARROQUIA DE YAMANA</value>
      </setting>
      <setting name="Nombre_presidente" serializeAs="String">
        <value>JUAN DIEGO DUQUE</value>
      </setting>
      <setting name="Ruta_archivos" serializeAs="String">
        <value>D:\JUAN DIEGO\Google Drive\Proyectos\SYSConfac</value>
      </setting>
      <setting name="Id_caja_principal" serializeAs="String">
        <value>1</value>
      </setting>
      <setting name="Meses_alerta_corte" serializeAs="String">
        <value>2</value>
      </setting>
      <setting name="Meses_corte" serializeAs="String">
        <value>3</value>
      </setting>
      <setting name="Correo_presidente" serializeAs="String">
        <value>jdiego9708@gmail.com</value>
      </setting>
      <setting name="Telefono_empresa" serializeAs="String">
        <value>8768684</value>
      </setting>
      <setting name="Direccion_empresa" serializeAs="String">
        <value>Calle de prueba</value>
      </setting>
      <setting name="Ciudad_empresa" serializeAs="String">
        <value>Ecuador</value>
      </setting>
    </CapaPresentacionAdministracion.Formularios.FormsConfiguraciones.FormsConfiguraciones.ConfigGeneral>
    <CapaPresentacionAdministracion.Formularios.FormsConfiguraciones.FormsLicencias.ConfigLicencias>
      <setting name="Licencia30Dias" serializeAs="String">
        <value>8768684201930</value>
      </setting>
      <setting name="Licencia20Dias" serializeAs="String">
        <value>8768684201920</value>
      </setting>
      <setting name="Licencia10Dias" serializeAs="String">
        <value>8768684201910</value>
      </setting>
      <setting name="Licencia8Dias" serializeAs="String">
        <value>8768684201908</value>
      </setting>
      <setting name="LicenciaCompleta" serializeAs="String">
        <value>876868420192019</value>
      </setting>
      <setting name="LicenciaActual" serializeAs="String">
        <value>Licencia8Dias</value>
      </setting>
      <setting name="ConteoLicencia30" serializeAs="String">
        <value>0</value>
      </setting>
      <setting name="ConteoLicencia20" serializeAs="String">
        <value>0</value>
      </setting>
      <setting name="ConteoLicencia10" serializeAs="String">
        <value>0</value>
      </setting>
      <setting name="ConteoLicencia8" serializeAs="String">
        <value>9</value>
      </setting>
      <setting name="FechaConteo" serializeAs="String">
        <value>2019-09-11</value>
      </setting>
    </CapaPresentacionAdministracion.Formularios.FormsConfiguraciones.FormsLicencias.ConfigLicencias>
  </userSettings>
</configuration>